{% extends 'index.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <section>
    <div class="container mt-4">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-8 col-xl-6">
          <div class="media">
            <img class="rounded mx-auto d-block w-50 p-3" src="{{ user.profile.image.url }}">
          </div>
          <div class="row align-items-center">
            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile</legend>
                {{ user_form|crispy }}
                <br>
                {{ profile_form.image }}
              </fieldset>
              <div class="row justify-content-start mb-5">
                <div class="col">
                  <br>
                  <button class="btn btn-primary mt-3">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
